<div>
  <h1>
    Profile For 
    <%= current_user.email %>
  </h1>

  <div>
    <h3> Pilots: </h3>

    <div>
      RAF Pilot: <%= link_to current_user.raf_pilot.to_s, pilot_path(current_user.raf_pilot) %>
    </div>

    <div>
      USAAF Pilot: <%= link_to current_user.usaaf_pilot.to_s, pilot_path(current_user.usaaf_pilot) %>
    </div>

    <div>
      VVS Pilot: <%= link_to current_user.vvs_pilot.to_s, pilot_path(current_user.vvs_pilot) %>
    </div>

    <div>
      Luftwaffe Pilot: <%= link_to current_user.luftwaffe_pilot.to_s, pilot_path(current_user.luftwaffe_pilot) %>
    </div>

    <%= button_to 'Mulligan', mulligan_path(current_user.id), method: :get %>
    </br>
    </br>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
  </div>
</div>